body {
    font-family: Roboto, Arial, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*  TODO */

    align-items: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    padding: 10px;
}
.nav-left {
    /*  TODO */
    display: flex;
    grid:10em;
}
.nav-right {
    /*  TODO */
    display: flex;
    flex-direction: row;
    gap: 8em;
    justify-content: space-between;

}
.nav-center {
    /*  TODO */

    display: flex;
    gap: 1em;
    align-items: center;
    width: 50em;

}
.nav-center input {
    width: 90%;
    padding: 9px;
    
}
.nav-center i {
    background: #f5ecec;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 50%;
}
header {
    width: 93%;
    margin: auto;
    margin-top: 16px;
    padding: 10px;
}
header span {
    padding: 10px;
    background: #e2e0e0;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 10px;
}
.active {
    background: #000;
    color: #fff;
}
.video-container { 
    /*  TODO */
    display: flex;
    gap: 1rem;
    background-color: #e2e0e0;
    flex-wrap: wrap;
    height: 100vh;
    padding: 1rem;

}
.video {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding-right: 1rem;
    
   /*  TODO */
 
}

.video-thumbnail img {
   /*  TODO */
   display: flex;
}
.video-text {
  /*  TODO */
  display: flex;
 
}


.text {
    line-height: 1.5;
}
.text p {
    margin: 0;
    margin-top: 10px;
}
.text p,
.text span {
    color: rgb(105, 102, 102);
}
.text strong {
    font-weight: 500;
}